/mii-process-feasibility/target/
/mii-process-feasibility/src/test/resources/de/medizininformatik_initiative/process/feasibility/client/certs

/mii-process-feasibility-docker-test-setup/certs/*.pem
/mii-process-feasibility-docker-test-setup/certs/*.p12

/mii-process-feasibility-docker-test-setup/.env
/mii-process-feasibility-docker-test-setup/secrets/*.pem
/mii-process-feasibility-docker-test-setup/secrets/*.p12

/mii-process-feasibility-docker-test-setup/dic-1/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/dic-1/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/dic-1/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/dic-1/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/dic-1/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/dic-1/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/dic-1/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/dic-1/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/dic-2/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/dic-2/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/dic-2/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/dic-2/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/dic-2/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/dic-2/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/dic-2/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/dic-2/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/dic-3/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/dic-3/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/dic-3/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/dic-3/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/dic-3/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/dic-3/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/dic-3/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/dic-3/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/broker/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/broker/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/broker/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/broker/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/broker/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/broker/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/broker/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/broker/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/broker-dic-5/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/broker-dic-5/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/broker-dic-5/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/broker-dic-5/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/broker-dic-5/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/broker-dic-5/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/broker-dic-5/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/broker-dic-5/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/broker-dic-6/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/broker-dic-6/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/broker-dic-6/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/broker-dic-6/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/broker-dic-6/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/broker-dic-6/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/broker-dic-6/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/broker-dic-6/fhir/log/*.log.gz

/mii-process-feasibility-docker-test-setup/zars/bpe/log/*.log
/mii-process-feasibility-docker-test-setup/zars/bpe/log/*.log.gz
/mii-process-feasibility-docker-test-setup/zars/bpe/plugin/*.jar
/mii-process-feasibility-docker-test-setup/zars/bpe/process/*.jar
/mii-process-feasibility-docker-test-setup/zars/fhir/conf/bundle.xml
/mii-process-feasibility-docker-test-setup/zars/fhir/conf/config.properties
/mii-process-feasibility-docker-test-setup/zars/fhir/log/*.log
/mii-process-feasibility-docker-test-setup/zars/fhir/log/*.log.gz

/mii-process-feasibility-tools/mii-process-feasibility-test-data-generator/bundle/*.xml
/mii-process-feasibility-tools/mii-process-feasibility-test-data-generator/cert/*/
/mii-process-feasibility-tools/mii-process-feasibility-test-data-generator/cert/*.txt
/mii-process-feasibility-tools/mii-process-feasibility-test-data-generator/config/*.properties
/mii-process-feasibility-tools/mii-process-feasibility-test-data-generator/target/

/docker/bpe/plugin/*.jar
/docker/bpe/process/*.jar

**/.idea/
**/**.iml
