/feasibility-dsf-process/target/

/feasibility-dsf-process-docker-test-setup/certs/*.pem
/feasibility-dsf-process-docker-test-setup/certs/*.p12

/feasibility-dsf-process-docker-test-setup/.env
/feasibility-dsf-process-docker-test-setup/secrets/*.pem
/feasibility-dsf-process-docker-test-setup/secrets/*.p12

/feasibility-dsf-process-docker-test-setup/dic-1/bpe/last_event/time.file
/feasibility-dsf-process-docker-test-setup/dic-1/bpe/log/*.log
/feasibility-dsf-process-docker-test-setup/dic-1/bpe/log/*.log.gz
/feasibility-dsf-process-docker-test-setup/dic-1/bpe/plugin/*.jar
/feasibility-dsf-process-docker-test-setup/dic-1/bpe/process/*.jar
/feasibility-dsf-process-docker-test-setup/dic-1/fhir/conf/bundle.xml
/feasibility-dsf-process-docker-test-setup/dic-1/fhir/conf/config.properties
/feasibility-dsf-process-docker-test-setup/dic-1/fhir/log/*.log
/feasibility-dsf-process-docker-test-setup/dic-1/fhir/log/*.log.gz

/feasibility-dsf-process-docker-test-setup/dic-2/bpe/last_event/time.file
/feasibility-dsf-process-docker-test-setup/dic-2/bpe/log/*.log
/feasibility-dsf-process-docker-test-setup/dic-2/bpe/log/*.log.gz
/feasibility-dsf-process-docker-test-setup/dic-2/bpe/plugin/*.jar
/feasibility-dsf-process-docker-test-setup/dic-2/bpe/process/*.jar
/feasibility-dsf-process-docker-test-setup/dic-2/fhir/conf/bundle.xml
/feasibility-dsf-process-docker-test-setup/dic-2/fhir/conf/config.properties
/feasibility-dsf-process-docker-test-setup/dic-2/fhir/log/*.log
/feasibility-dsf-process-docker-test-setup/dic-2/fhir/log/*.log.gz

/feasibility-dsf-process-docker-test-setup/zars/bpe/last_event/time.file
/feasibility-dsf-process-docker-test-setup/zars/bpe/log/*.log
/feasibility-dsf-process-docker-test-setup/zars/bpe/log/*.log.gz
/feasibility-dsf-process-docker-test-setup/zars/bpe/plugin/*.jar
/feasibility-dsf-process-docker-test-setup/zars/bpe/process/*.jar
/feasibility-dsf-process-docker-test-setup/zars/fhir/conf/bundle.xml
/feasibility-dsf-process-docker-test-setup/zars/fhir/conf/config.properties
/feasibility-dsf-process-docker-test-setup/zars/fhir/log/*.log
/feasibility-dsf-process-docker-test-setup/zars/fhir/log/*.log.gz

/feasibility-dsf-process-tools/feasibility-dsf-process-test-data-generator/bundle/*.xml
/feasibility-dsf-process-tools/feasibility-dsf-process-test-data-generator/cert/*/
/feasibility-dsf-process-tools/feasibility-dsf-process-test-data-generator/cert/*.txt
/feasibility-dsf-process-tools/feasibility-dsf-process-test-data-generator/config/*.properties
/feasibility-dsf-process-tools/feasibility-dsf-process-test-data-generator/target/

/docker/bpe/plugin/*.jar
/docker/bpe/process/*.jar

**/.idea/
**/**.iml
