name: Java CI with Maven

on:
  push:
    branches:
    - main
    - develop
    tags:
    - v[0-9]+.[0-9]+.[0-9]+.[0-9]+**
  pull_request:
    branches:
    - main
    - develop

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 17
        # Set up maven repository credentials for highmed-dsf dependencies
        server-id: highmed-dsf
        server-username: USERNAME
        server-password: GITHUB_TOKEN

    - name: Cache Local Maven Repo
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2/repository
        key: maven-repo

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3

    - name: Build with Maven
      run: mvn -B verify --file pom.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        USERNAME: ${{ github.actor }}

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3


  build:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Prepare Version
      id: prep
      run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 17
        # Set up maven repository credentials for highmed-dsf dependencies
        server-id: highmed-dsf
        server-username: USERNAME
        server-password: GITHUB_TOKEN

    - name: Cache Local Maven Repo
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2/repository
        key: maven-repo

    - name: Add GitHub Server Credentials to Maven settings.xml
      uses: s4u/maven-settings-action@v3.1.0
      with:
        servers: '[{"id": "highmed-dsf", "username": "${{ github.actor }}", "password": "${{ secrets.GITHUB_TOKEN }}"}]'

    - name: Set Version in Maven Parent Project and Submodules
      run: mvn -q versions:set -DnewVersion="${{ steps.prep.outputs.version }}" -DprocessAllModules=true

    - name: Build with Maven
      run: mvn -B deploy -DskipTests --file mii-process-feasibility/pom.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        USERNAME: ${{ github.actor }}

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        generate_release_notes: true
        files: |
          mii-process-feasibility/target/mii-process-feasibility-*.jar
          mii-process-feasibility/target/mii-process-feasibility-*.jar.sha256
        name: "MII Process Feasibility - v${{ steps.prep.outputs.version }}"

